@import '../../assets/styles/base/mixins';
@import '../../assets/styles/base/variables';

:host {
  > .container {
    .wrapper_table {
      overflow: hidden;
      background-color: #f5f5f5;
      margin-bottom: 30px;
      @include max991 {
        overflow-x: auto;
      }

      .pagination {
        @include max575 {
          min-width: 530px;
        }
      }

      .table_aliases {
        @include max991 {
          min-width: 900px;
        }

        thead {
          th {
            font-size: 14px;
            color: #fff;
          }
        }

        .alias-name {
          font-size: 14px;
          -ms-text-size-adjust: 100%;
          -moz-text-size-adjust: 100%;
          -webkit-text-size-adjust: 100%;
        }

        .alias-address {
          font-size: 13px;
          -ms-text-size-adjust: 100%;
          -moz-text-size-adjust: 100%;
          -webkit-text-size-adjust: 100%;
        }

        thead {
          tr {
            border-top: none;
          }
        }

        tbody {
          tr {
            cursor: pointer;
          }
        }
      }

    }
  }
}

.alias_input_search {
  background-color: transparent;
  border: 1px solid #bdbdbd;
  color: #3a3a3a;

  &::-webkit-input-placeholder {
    color: #3a3a3a;
  }

  &::-moz-placeholder {
    color: #3a3a3a;
    opacity: 1;
  }

  &::-ms-input-placeholder {
    color: #3a3a3a;
  }

  &.desktop {
    display: flex;
    width: 320px;
    @include max761 {
      display: none;
    }
  }

  &.mobile {
    display: none;
    @include max761 {
      display: flex;
    }
  }
}


// dialog
.dialog_title {
  color: #3c3c3c;
  font-size: 26px;
  font-weight: 300;
  padding-bottom: 38px;
}

.wrap_content {
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title_value {
      flex-basis: 100%;
      padding: 10px 0;
      position: relative;
      width: 100%;

      > .title {
        display: inline-flex;
        width: 95px;
        flex-shrink: 0;
        color: #3c3c3c;
        font-size: 14px;
        font-weight: 600;
      }

      > .value {
        display: inline-flex;
        color: #3c3c3c;
        font-size: 14px;
        font-weight: 300;
        border: none;
        flex-basis: 100%;
        line-height: 1.5;
        pointer-events: none;
        width: 100%;
      }

      .address_copied_to_clipboard {
        position: absolute;
        bottom: 90%;
        right: 0;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        padding: 5px 15px;
        color: #3c3c3c;
        background-color: #ddfae1;
      }
    }

    &.address {
      display: flex;
      @include max1170 {
        flex-wrap: wrap;
        border-bottom: 1px solid #e0e4e2;
        padding-bottom: 30px;
      }

      .title_value {
        display: flex;
        align-items: center;
        height: 100%;
        border-bottom: 1px solid #e0e4e2;
        flex-basis: 100%;
        width: calc(100% + 140px);

        @include max1170 {
          border-color: transparent;
          align-items: baseline;
          margin-bottom: 15px;
        }

        .value {
          display: flex;
          width: 780px;
          @include max991 {
            @include textWrap;
            width: 100%;
          }
        }
      }

      button.btn_copy_address {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 136px;
        height: 33px;
        flex-shrink: 0;
        margin-left: 27px;
        border: 1px solid transparent;
        font-size: 16px;
        transition: 0.2s;
        padding: 0 15px;
        white-space: nowrap;
        background-color: #007ee0;
        color: #fff;
        @include max1170 {
          margin-left: 95px;
        }

        &:hover, &:focus {
        }
      }
    }

    &.comment, &.tracking_key, &.height, &.transact {
      border-bottom: 1px solid #e0e4e2;

      .title_value {
        display: flex;
        align-items: baseline;
      }
    }

    &.transact {
      .title_value {
        flex: 1;
        min-width: 0;

        .value {
          pointer-events: auto;
          color: $link;
          display: block;
          @include text-truncate;
        }
      }
    }

    &:last-child {
      border-bottom: none;

      .title_value {
        border-bottom: none;
      }
    }
  }
}

