#server-connect-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  font-size: 22px;
  font-weight: 300;
  color: #3c3c3c;
  padding-bottom: 25px;
  background-color: #fff;
  margin-top: 15px;
}
