@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// path variables
$logo: url('assets/img/logo.svg');
$mobileMenuIco: url('assets/img/menu.svg');
$showIco: url('assets/img/show.svg');
$search: url('./assets/img/search-general.svg');
$backBtn: url('./assets/img/back-block.svg');
$searchSecond: url('./assets/img/search-second.svg');
$headingBG: url('./assets/img/head_backgr.png');
$closeIco: url('./assets/img/close.svg');
$btnTooltip: url('./assets/img/information.svg');

// BASE
@import 'assets/styles/base/null';
@import 'assets/styles/base/base';
@import 'assets/styles/base/mixins';
@import 'assets/styles/base/variables';

// LAYOUT
@import 'assets/styles/layout/main';
@import 'assets/styles/layout/header';

// MODULES
@import 'assets/styles/modules/main-info';
@import 'assets/styles/modules/table';
@import 'assets/styles/modules/forms';
@import 'assets/styles/modules/pagination';
@import 'assets/styles/modules/loader';
@import 'assets/styles/modules/block-details';

// popup
.dialog__close-btn {
  background-image: $closeIco;
  background-repeat: no-repeat;
  background-size: 16px;
}
.dialog-open {
  overflow: hidden;
}

.bg_heading {
  background-image: $headingBG;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.fixed_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 60px);
  background-color: #d5d9dd;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

// search component (btn-search)
app-search {
  > button {
    display: flex;
    width: 25px;
    height: 100%;
    flex-shrink: 0;
    background-image: $search;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 8px;
    @include max575 {
      margin-right: 0;
    }
  }
}

.back_btn {
  width: 80px;
  height: 13px;
  display: flex;
  align-items: center;
  padding-left: 21px;
  background-image: $backBtn;
  background-repeat: no-repeat;
  background-position: 3px center;
  color: $link;
  font-size: 16px;
  @include max575 {
    &.hide_back_btn {
      display: none;
    }
  }
}

// alias search
.alias_input_search {
  width: 100%;
  height: 33px;
  border: none;
  font-size: 14px;
  color: #9eaacc;
  padding-left: 47px;
  background-image: $search;
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 18px;
  @include max761 {
    font-size: 16px;
  }
}

// webkit visible scroll
::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 10px;
}
::-webkit-scrollbar:horizontal {
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(#0066cf, 1);
  border-radius: 10px;
  border: 1px solid #ffffff;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.wrap_links_chart {
  > button {
    > span {
    }
  }
}

.btn_tooltip {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  background-image: $btnTooltip;
  background-repeat: no-repeat;
  background-position: center center;
}
.tooltip {
  background-color: rgba(#007ee0, 1);
}


.collapse {
  display: none
}

.collapse.in {
  display: block
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease
}