@import '../../assets/styles/base/mixins';

:host {
  display: flex;
  height: 36px;
  position: relative;
  border: 1px solid #bdbdbd;
  @include max575 {
    height: 32px;
    max-width: 100%;
    border-color: transparent;
  }

  > input, button {
    border: none;
    background-color: transparent;
  }

  > input {
    width: 340px;
    height: 100%;
    color: #3a3a3a;
    transition: 0.2s;
    font-size: 14px;
    margin-right: 15px;
    padding-left: 12px;

    &::-webkit-input-placeholder {
      color: #3a3a3a;
    }

    &::-moz-placeholder {
      color: #3a3a3a;
      opacity: 1;
    }

    &::-ms-input-placeholder {
      color: #3a3a3a;
    }

    @include max1170 {
      width: 245px;
    }
    @include max991 {
      width: 340px;
    }
    @include max575 {
      opacity: 0;
      width: 0;
      font-size: 14px;
      display: none;
      &.show {
        display: flex;
        width: 295px;
        opacity: 1;
        margin-right: 15px;
      }
    }
    @include mobile {
      padding-left: 0;
    }
  }

  .search_not_found {
    position: absolute;
    bottom: 5px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    padding: 5px 15px;
    padding-left: 0;
    color: #ff5252;
    background-color: #fff;
    width: calc(100% - 45px);
    @include max575 {
      bottom: auto;
      font-size: 13px;
      left: auto;
      right: 40px;
      width: 200px;
      height: 100%;
    }
    @include mobile {
      width: 150px;
    }
  }
}
